@import '~font-awesome/css/font-awesome.css';

:root {
    --questionWidth: 20em;
  }

.faq{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.faqQuestion{
    border-top: 0.1em solid black
}

 .faqQuestion:last-child {
    border-bottom: 0.1em solid black
  } 
  
  .question {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2em; 
    background-color: red;
    width: var(--questionWidth); 
    cursor: pointer;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
  }

  .answerShow{
    /* background-color: blue; */
    box-sizing: border-box;
    /* width: 100%; */
    /* width: 18em; */
    width: 33em;
    height: auto; 
  overflow: auto;
    /* width: var(--questionWidth);  */
  
  }
 
  
  .answer {
    /* padding: 10px; */
    display: none;
    /* background-color: teal; */
  }
/*   
  .answer.show {
    display: block;
    background-color: teal;
  } */



   