
@import '../../globalStyles.module.css';



/* Header container */
.header {
    background-color: var(--primaryColor) ;
    /* background-color: #d0c6c6;  */
    padding: 5px; /* Add some padding for spacing */
  
    /* Flexbox styles */
    display: flex; /* Use Flexbox */
    justify-content: space-between; /* Horizontal alignment: distribute items evenly */
    align-items: center; /* Vertical alignment: center items vertically */
  }
  
  /* Navigation links */
  .navLinks {
    list-style: none; /* Remove bullet points for list items */
    padding: 0; /* Remove default padding for lists */
    display: flex; /* Use Flexbox for the list items */
  }
  
  .navLinks li {
    margin-right: 20px; /* Add spacing between list items */
  }
  
  .navLinks a {
    text-decoration: none; /* Remove underlines from links */
    color: black; /* Set link color */
    font-weight: bold; /* Make links bold */
  }
  
  /* Style for active link (if needed) */
  .navLinks a:hover {
    text-decoration: underline; /* Add underline on hover */
    color: lightgray; /* Change link color on hover */
  }