
@import '../../globalStyles.module.css';

.header {
    /* background-color: var(--primaryColor) ; */
    background-color: #b3dfec;
    padding: 5px; 
    margin-bottom: 2em; 
    display: flex; 
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    transition: height 0.35s ease-in-out;
    height: 55px;

  }

  .shrink{
    height: 30px; 
  }

  .logoContainer{
    width: 14rem; 
    /* background-color: red; */
    justify-content: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;

  }

  .allLinksContainer{
    width: 50rem; 
    display: flex; 
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;

  }

 .logo{
    align-self: flex-start;
    padding-bottom: 0.3rem; 
    text-decoration: none; 
    /* font-weight: bolder; */
    font-size: larger; 
    font-family: var(--primaryFont);
    min-width: 14rem; 
    padding-left: 1rem; 

  } 

  .linkContainer{
    padding-bottom: 0.3rem; 
    text-decoration: none; 
    margin-left: 5rem; 
    font-family: var(--primaryFont);
   min-width: 6rem; 
   text-align: center;
   vertical-align: middle;
  } 

.linkContainer:hover{
    border-bottom: 2px solid white;
    padding-bottom: 2px; 
    color: white; 
    transform: translateY(0);
  } 


.logo a {
    text-decoration: none; 
    transition: all 0.15s ease-in-out;
  }

    
  .linkContainer a{
    text-decoration: none; 
    transition: all 0.15s ease-in-out;
  }

  .linkContainer a:hover{
    color: white; 
    transform: translateY(0);
  }
  
  .logoContainer a:hover{
    color: white; 
    transform: translateY(0);
  }

